In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Ice_creamsalesdata.csv')

In [3]:
df.head()

   Temperature (°C)  Ice Cream Sales (units)
0         -4.662263                41.842986
1         -4.316559                34.661120
2         -4.213985                39.383001
3         -3.949661                37.539845
4         -3.578554                32.284531

In [4]:
df.columns = ['X','y']

In [5]:
df.head()

          X          y
0 -4.662263  41.842986
1 -4.316559  34.661120
2 -4.213985  39.383001
3 -3.949661  37.539845
4 -3.578554  32.284531

In [9]:
from sklearn.preprocessing import PolynomialFeatures
poly_f = PolynomialFeatures(degree=2)

In [10]:
X = poly_f.fit_transform(df[['X']])

In [11]:
newdf = pd.DataFrame(X, columns=['X0','X1','X2'])
newdf['y'] = df[['y']]

In [14]:
newdf.head()

    X0        X1         X2          y
0  1.0 -4.662263  21.736693  41.842986
1  1.0 -4.316559  18.632685  34.661120
2  1.0 -4.213985  17.757668  39.383001
3  1.0 -3.949661  15.599823  37.539845
4  1.0 -3.578554  12.806047  32.284531

In [15]:
import statsmodels.formula.api as smf

In [16]:
poly_model = smf.ols(formula='y ~ X1 +X2', data=newdf).fit()

In [17]:
print(poly_model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.932
Model:                            OLS   Adj. R-squared:                  0.929
Method:                 Least Squares   F-statistic:                     315.8
Date:                Sun, 13 Apr 2025   Prob (F-statistic):           1.35e-27
Time:                        13:10:00   Log-Likelihood:                -125.95
No. Observations:                  49   AIC:                             257.9
Df Residuals:                      46   BIC:                             263.6
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      2.9518      0.710      4.159      0.000       1.523       4.380
X1            -0.8247      0.175     -4.722      0.000      -1.176      -0.473
X2             1.8295      0.074     24.715      0.000       1.681       1.979
==============================================================================
Omnibus:                        3.209   Durbin-Watson:                   1.753
Prob(Omnibus):                  0.201   Jarque-Bera (JB):                1.666
Skew:                          -0.101   Prob(JB):                        0.435
Kurtosis:                       2.120   Cond. No.                         14.7
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.