<a href="https://colab.research.google.com/github/priyankjangwan/PythonApps/blob/main/Lesson_04_Datatypes%2C_Operator%2C_and_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Types Python

In [ ]:
print("Start Data Science")

In [ ]:
# @title Default title text
x = 34 ; y = 67.89 ; z = True
print('x = ', x, '\ty = ', y, '\tz = ', z)

x =  34 	y =  67.89 	z =  True

In [ ]:
print('Type of \nx = ', type(x), '\ty = ', type(y), '\tz = ', type(z))

Type of
x =  <class 'int'> 	y =  <class 'float'> 	z =  <class 'bool'>

In [ ]:
var = 'abc'
print('var = ', var)
print('type of var ', type(var))

var =  abc
type of var  <class 'str'>

## Data Type Conversion
Data type conversion in Python refers to the process of converting a value from one data type to another.

In [ ]:
x = 45.77
int(x)

45

In [ ]:
str(x)

'45.77'

In [ ]:
bool(x)

True

In [ ]:
y = '45.88'

In [ ]:
float(y)

45.88

In [ ]:
int(float(y))

45

## Checking References
Checking references in Python involves determining whether two variables reference the same object in memory using the id() function.

In [ ]:
x = 34
y = x
print('x = ', x, ';  id of x = ', id(x))
print('y = ', y, ';  id of y = ', id(y))

x =  34 ;  id of x =  10751912
y =  34 ;  id of y =  10751912

In [ ]:
x = 65
print('x = ', x, ';  id of x = ', id(x))
print('y = ', y, ';  id of y = ', id(y))

x =  65 ;  id of x =  10752904
y =  34 ;  id of y =  10751912

In [ ]:
y = 78
print('x = ', x, ';  id of x = ', id(x))
print('y = ', y, ';  id of y = ', id(y))

x =  65 ;  id of x =  10752904
y =  78 ;  id of y =  10753320

# Arithmetic Operators

In [ ]:
x = 50
y = 4

In [ ]:
print('Sum of x & y                   : ', x + y)
print('Difference between x & y       : ', x - y)
print('Product of x & y               : ', x * y)
print('Division of x by y             : ', x / y)

Sum of x & y                   :  54
Difference between x & y       :  46
Product of x & y               :  200
Division of x by y             :  12.5

In [ ]:
print('Remainder of x divided by y    : ', x % y)
print('Floor Division x divided by y  : ', x // y)
print('Exponential value for x raised to power y : ', x ** y)

Remainder of x divided by y    :  2
Floor Division x divided by y  :  12
Exponential value for x raised to power y :  6250000

# Arithmetic Assignment Operators

In [ ]:
a = 10
print('Present value of a = ', a )

Present value of a =  10

In [ ]:
a += 5
print('Updated value of a = ', a )

Updated value of a =  15

In [ ]:
a = 10
print('Present value of a = ', a )
print('Present id of a = ', id(a))

Present value of a =  10
Present id of a =  10751144

In [ ]:
a += 15
print('Updated value of a = ', a )
print('Updated id of a = ', id(a))

Updated value of a =  25
Updated id of a =  10751624

# Comparison Operator

In [ ]:
a = 20
b = 20
print('a = ', a, '  b = ', b)
print('a == b  : ', a == b)

a =  20   b =  20
a == b  :  True

In [ ]:
a = 20
b = 30
print('a = ', a, '  b = ', b)
print('a != b  : ', a != b)

a =  20   b =  30
a != b  :  True

In [ ]:
a = 40
b = 30
print('a = ', a, '  b = ', b)
print('a <= b  : ', a <= b)

a =  40   b =  30
a <= b  :  False

In [ ]:
a = 30
b = 30
print('a = ', a, '  b = ', b)
print('a >= b  : ', a >= b)

a =  30   b =  30
a >= b  :  True

# Logical Operators

In [ ]:
a = 30
b = 30
print('a = ', a, '  b = ', b)
print('a < b            : ', a < b)
print('a == b           : ', a == b)

a =  30   b =  30
a < b            :  False
a == b           :  True

In [ ]:
print('a < b and a == b : ', a < b and a == b)

a < b and a == b :  False

In [ ]:
a = 30
b = 30
print('a = ', a, '  b = ', b)
print('a < b           : ', a < b)
print('a == b          : ', a == b)

a =  30   b =  30
a < b           :  False
a == b          :  True

In [ ]:
print('a < b or a == b : ', a < b or a == b)

a < b or a == b :  True

In [ ]:
a = 40
print('a = ', a)
print('a < 50      : ' , a < 50 )

a =  40
a < 50      :  True

In [ ]:
print('not a < 50  : ' , not(a < 50))

not a < 50  :  False

# Miscellaneous Operators

### Identity Operators

In [ ]:
a = ['a', 'b', 'c']
b = ['a', 'b', 'c']
print('a is b' , a is b)

a is b False

In [ ]:
a = ['a', 'b', 'c']
b =  a
print('a is b' , a is b)

a is b True

In [ ]:
id(a) == id(b)

True

In [ ]:
a = ['a', 'b', 'c']
b = ['a', 'b', 'c']
print('a is not b' , a is not b)

a is not b True

### Membership Operators

In [ ]:
x = 'a'
y = 'Dictionary'
print(x , ' in "', y, '"')
print( x in y)

a  in " Dictionary "
True

In [ ]:
x = 'a'
y = 'Dictionary'
print(x , ' in "', y, '"')
print( x not in y)

a  in " Dictionary "
False

In [ ]:
a = [20, 45, 10]
10 in a

True

In [ ]:
a = [20, 45, 10]
10 not in a

False

# Strings in Python

In [ ]:
message_1 = 'Hi! Welcome to Python Programming!!'
message_2 = "Hi! Welcome to Python Programming!!"
print(message_1)
print(message_2)

Hi! Welcome to Python Programming!!
Hi! Welcome to Python Programming!!

In [ ]:
message_1 = 'Hi! Welcome to "Python Programming"!!'
message_2 = "Hi! Welcome to 'Python Programming'!!"
print(message_1)
print(message_2)

Hi! Welcome to "Python Programming"!!
Hi! Welcome to 'Python Programming'!!

# String Methods

In [ ]:
string = 'She seLLs sEa SHELLS oN tHe SeA sHoRe.'
upper_case = string.upper()
print(upper_case)

SHE SELLS SEA SHELLS ON THE SEA SHORE.

In [ ]:
lower_case = string.lower()
print(lower_case)

she sells sea shells on the sea shore.

In [ ]:
sentence = string.capitalize()
print(sentence)

She sells sea shells on the sea shore.

In [ ]:
word_upper = string.title()
word_upper

'She Sells Sea Shells On The Sea Shore.'