# Data Types

In [ ]:
x = 34 ; y = 67.89 ; z = True
#print('x = ', x, '\ty = ', y, '\tz = ', z)
print('x = ', x, '\ny = ', y, '\nz = ', z)
#print(x,y,z)

x =  34
y =  67.89
z =  True

In [ ]:
print('Type of \nx = ', type(x), '\ty = ', type(y), '\tz = ', type(z))

Type of
x =  <class 'int'> 	y =  <class 'float'> 	z =  <class 'bool'>

In [ ]:
var = 'abc'
print('var = ', var)
print('type of var ', type(var))

var =  abc
type of var  <class 'str'>

## Data Type Conversion
Data type conversion in Python refers to the process of converting a value from one data type to another.

In [ ]:
x = 45.77
print(type(x))
y = int(x)
#y = x
print(type(y))

<class 'float'>
<class 'int'>

In [ ]:
z = str(x)
print(type(z))

<class 'str'>

In [ ]:
w = bool(x)
print(type(w))

<class 'bool'>

In [ ]:
y = '45.88'
print(type(y))

<class 'str'>

In [ ]:
a = float(y)
print(type(a))

<class 'float'>

In [ ]:
b = int(float(y))
print(b)

45

## Checking References
Checking references in Python involves determining whether two variables reference the same object in memory using the id() function.

In [ ]:
x = 34
y = x
print('x = ', x, ';  id of x = ', id(x))
print('y = ', y, ';  id of y = ', id(y))

x =  34 ;  id of x =  10751912
y =  34 ;  id of y =  10751912

In [ ]:
x = 65
print('x = ', x, ';  id of x = ', id(x))
print('y = ', y, ';  id of y = ', id(y))

x =  65 ;  id of x =  10752904
y =  34 ;  id of y =  10751912

In [ ]:
y = 78
print('x = ', x, ';  id of x = ', id(x))
print('y = ', y, ';  id of y = ', id(y))

x =  65 ;  id of x =  10752904
y =  78 ;  id of y =  10753320

# Arithmetic Operators

In [ ]:
x = 50
y = 4

In [ ]:
print('Sum of x & y                   : ', x + y)
print('Difference between x & y       : ', x - y)
print('Product of x & y               : ', x * y)
print('Division of x by y             : ', x / y)

Sum of x & y                   :  54
Difference between x & y       :  46
Product of x & y               :  200
Division of x by y             :  12.5

In [ ]:
print('Remainder of x divided by y    : ', x % y)
print('Floor Division x divided by y  : ', x // y)
print('Exponential value for x raised to power y : ', x ** y)

Remainder of x divided by y    :  2
Floor Division x divided by y  :  12
Exponential value for x raised to power y :  6250000

# Arithmetic Assignment Operators

In [ ]:
a = 10
print('Present value of a = ', a )

Present value of a =  10

In [ ]:
#a += 5
a -= 5
print('Updated value of a = ', a )

Updated value of a =  5

In [ ]:
a = 10
print('Present value of a = ', a )
print('Present id of a = ', id(a))

Present value of a =  10
Present id of a =  10751144

In [ ]:
a += 15
print('Updated value of a = ', a )
print('Updated id of a = ', id(a))

Updated value of a =  25
Updated id of a =  10751624

# Comparison Operator

In [1]:
a = 20
b = 20
print('a = ', a, '  b = ', b)
print('a == b  : ', a == b)

a =  20   b =  20
a == b  :  True

In [2]:
a = 20
b = 30
print('a = ', a, '  b = ', b)
print('a != b  : ', a != b)

a =  20   b =  30
a != b  :  True

In [7]:
a = 20
b = 20
print('a = ', a, '  b = ', b)
print('a <= b  : ', a <= b)

a =  20   b =  20
a <= b  :  False

In [5]:
a = 30
b = 30
print('a = ', a, '  b = ', b)
print('a >= b  : ', a >= b)

a =  30   b =  30
a >= b  :  False

# Logical Operators

In [8]:
a = 30
b = 30
print('a = ', a, '  b = ', b)
print('a < b            : ', a < b)
print('a == b           : ', a == b)

a =  30   b =  30
a < b            :  False
a == b           :  True

In [9]:
print('a < b and a == b : ', a < b and a == b)

a < b and a == b :  False

In [10]:
a = 30
b = 30
print('a = ', a, '  b = ', b)
print('a < b           : ', a < b)
print('a == b          : ', a == b)

a =  30   b =  30
a < b           :  False
a == b          :  True

In [11]:
print('a < b or a == b : ', a < b or a == b)

a < b or a == b :  True

In [12]:
a = 40
print('a = ', a)
print('a < 50      : ' , a > 50 )

a =  40
a < 50      :  False

In [14]:
print('not a < 50  : ' , not(a > 50))

not a < 50  :  True

# Miscellaneous Operators

### Identity Operators

In [15]:
a = ['a', 'b', 'c']
b = ['a', 'b', 'c']
print('a is b' , a is b)

a is b False

In [16]:
a = ['a', 'b', 'c']
b =  a
print('a is b' , a is b)

a is b True

In [17]:
id(a) == id(b)

True

In [18]:
a = ['a', 'b', 'c']
b = ['a', 'b', 'c']
print('a is not b' , a is not b)

a is not b True

In [25]:
a = [1,2,'a'] #List - Change(Mutable) and it can be heterogeneous
b = (1,2,'a') #Tuple - Cannot be changed(immutable) and it can be heterogeneous
c = {1,'a',3,3} #Set - Can be changes(mutable) and it can be heterogeneous and it has to have unique values
d = {'f':1,'g':2,'h':'a'} #Dictionary - Can be changes(mutable) and it can be heterogeneous but it has to have key value pairs
print(a)
print(type(a))
print(b)
print(type(b))
print(c)
print(type(c))
print(d)
print(type(d))

[1, 2, 'a']
<class 'list'>
(1, 2, 'a')
<class 'tuple'>
{1, 3, 'a'}
<class 'set'>
{'f': 1, 'g': 2, 'h': 'a'}
<class 'dict'>

### Membership Operators

In [26]:
x = 'a'
y = 'Dictionary'
print(x , ' in "', y, '"')
print( x in y)

a  in " Dictionary "
True

In [54]:
x = 'z'
y = 'Dictionary'
print(x , 'in "', y, '"')
print( x not in y)

z in " Dictionary "
True

In [31]:
a = [20, 45, 10]
10 in a

False

In [33]:
a = [20, 45, 5]
10 not in a

True

# Strings in Python

In [34]:
message_1 = 'Hi! Welcome to Python Programming!!'
message_2 = "Hi! Welcome to Python Programming!!"
print(message_1)
print(message_2)

Hi! Welcome to Python Programming!!
Hi! Welcome to Python Programming!!

In [35]:
message_1 = 'Hi! Welcome to "Python Programming"!!'
message_2 = "Hi! Welcome to 'Python Programming'!!"
print(message_1)
print(message_2)

Hi! Welcome to "Python Programming"!!
Hi! Welcome to 'Python Programming'!!

# String Methods

In [43]:
string = 'She seLLs sEa SHELLS oN tHe SeA sHoRe'
upper_case = string.upper()
print(upper_case)

SHE SELLS SEA SHELLS ON THE SEA SHORE

In [44]:
lower_case = string.lower()
print(lower_case)

she sells sea shells on the sea shore

In [45]:
sentence = string.capitalize()
print(sentence)

She sells sea shells on the sea shore

In [50]:
word_upper = string.title()
print(word_upper)

She Sells Sea Shells On The Sea Shore