In [1]:
import numpy as np
import pandas as pd

In [2]:
sample_data = {'Date':['2025-03-22','2025-03-23','2025-03-24']}

In [3]:
sample_df = pd.DataFrame(sample_data)

In [4]:
sample_df

         Date
0  2025-03-22
1  2025-03-23
2  2025-03-24

In [5]:
sample_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    3 non-null      object
dtypes: object(1)
memory usage: 156.0+ bytes

In [11]:
sample_df['Converted_Date'] = pd.to_datetime(sample_df['Date'])

In [12]:
sample_df

         Date Converted_Date
0  2025-03-22     2025-03-22
1  2025-03-23     2025-03-23
2  2025-03-24     2025-03-24

In [8]:
sample_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            3 non-null      object
 1   Converted_Date  3 non-null      datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 180.0+ bytes

In [13]:
sample_data2 = {'Date':['22-03-2025','23-03-2025','24-03-2025']}

In [14]:
sample_df2 = pd.DataFrame(sample_data2)

In [16]:
sample_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    3 non-null      object
dtypes: object(1)
memory usage: 156.0+ bytes

In [28]:
sample_df2['Converted_Date'] = pd.to_datetime(sample_df2['Date'],format='%d-%m-%Y')

In [29]:
sample_df2

         Date Converted_Date  Month  Day
0  22-03-2025     2025-03-22      3   22
1  23-03-2025     2025-03-23      3   23
2  24-03-2025     2025-03-24      3   24

In [30]:
sample_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            3 non-null      object
 1   Converted_Date  3 non-null      datetime64[ns]
 2   Month           3 non-null      int32
 3   Day             3 non-null      int32
dtypes: datetime64[ns](1), int32(2), object(1)
memory usage: 204.0+ bytes

In [31]:
sample_df2['Month'] = sample_df2['Converted_Date'].dt.month

In [32]:
sample_df2

         Date Converted_Date  Month  Day
0  22-03-2025     2025-03-22      3   22
1  23-03-2025     2025-03-23      3   23
2  24-03-2025     2025-03-24      3   24

In [25]:
sample_df2['Day'] = sample_df2['Converted_Date'].dt.day

In [26]:
sample_df2

         Date Converted_Date  Month  Day
0  22-03-2025     2025-03-22      3   22
1  23-03-2025     2025-03-23      3   23
2  24-03-2025     2025-03-24      3   24

In [ ]:
sample_df2['Day'] = sample_df2['Converted_Date']