# **Association Rules Mining Base File**


## **Association Rule Mining - Apriori**

In [1]:
import pandas as pd
import numpy as np

In [2]:
!pip install mlxtend --q

In [3]:
data = pd.read_csv('Market_Basket_Optimisation.csv', header=None)

In [4]:
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
transactions = []
for i in range(data.shape[0]):
    transactions.append([str(data.values[i, j]) for j in range(data.shape[1]) if str(data.values[i, j]) != 'nan'])

In [6]:
transactions[2]

['chutney']

In [7]:
transactions[0:5]

[['shrimp',
  'almonds',
  'avocado',
  'vegetables mix',
  'green grapes',
  'whole weat flour',
  'yams',
  'cottage cheese',
  'energy drink',
  'tomato juice',
  'low fat yogurt',
  'green tea',
  'honey',
  'salad',
  'mineral water',
  'salmon',
  'antioxydant juice',
  'frozen smoothie',
  'spinach',
  'olive oil'],
 ['burgers', 'meatballs', 'eggs'],
 ['chutney'],
 ['turkey', 'avocado'],
 ['mineral water', 'milk', 'energy bar', 'whole wheat rice', 'green tea']]

In [9]:
from mlxtend.preprocessing import TransactionEncoder

In [10]:
# Create Transaction Encoder, fit and transform, create new_df
te = TransactionEncoder()

te_ary = te.fit(transactions).transform(transactions)

new_df = pd.DataFrame(te_ary, columns=te.columns_)

In [11]:
new_df.head()

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,True,True,False,True,False,False,False,False,False,...,False,True,False,False,True,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False

In [12]:
new_df.shape

(7501, 120)

In [14]:
from mlxtend.frequent_patterns import apriori, association_rules

In [15]:
# Apply the Apriori algorithm with a minimum support of 0.01 (1%)
frequent_itemsets = apriori(new_df, min_support=0.01, use_colnames=True)

In [20]:
frequent_itemsets.sort_values(by='support', ascending=False).head(15)

     support             itemsets
46  0.238368      (mineral water)
19  0.179709               (eggs)
63  0.174110          (spaghetti)
24  0.170911       (french fries)
13  0.163845          (chocolate)
32  0.132116          (green tea)
45  0.129583               (milk)
33  0.098254        (ground beef)
30  0.095321  (frozen vegetables)
53  0.095054           (pancakes)
6   0.087188            (burgers)
8   0.081056               (cake)
15  0.080389            (cookies)
22  0.079323           (escalope)
41  0.076523     (low fat yogurt)

In [23]:
frequent_itemsets.tail()

      support                                 itemsets
252  0.011065       (ground beef, milk, mineral water)
253  0.017064  (ground beef, mineral water, spaghetti)
254  0.015731         (milk, mineral water, spaghetti)
255  0.010265    (olive oil, mineral water, spaghetti)
256  0.011465     (pancakes, mineral water, spaghetti)

In [26]:
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.25)

#rules.sort_values(by='zhangs_metric', ascending=False).head()

In [27]:
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(avocado),(mineral water),0.033329,0.238368,0.011598,0.348000,1.459926,0.003654,1.168147
1,(burgers),(eggs),0.087188,0.179709,0.028796,0.330275,1.837830,0.013128,1.224818
2,(burgers),(french fries),0.087188,0.170911,0.021997,0.252294,1.476173,0.007096,1.108844
3,(burgers),(mineral water),0.087188,0.238368,0.024397,0.279817,1.173883,0.003614,1.057552
4,(cake),(mineral water),0.081056,0.238368,0.027463,0.338816,1.421397,0.008142,1.151921

In [28]:
rules.sort_values(by='confidence', ascending=False).head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
71,"(ground beef, eggs)",(mineral water),0.019997,0.238368,0.010132,0.506667,2.125563,0.005365,1.543848
83,"(ground beef, milk)",(mineral water),0.021997,0.238368,0.011065,0.503030,2.110308,0.005822,1.532552
61,"(ground beef, chocolate)",(mineral water),0.023064,0.238368,0.010932,0.473988,1.988472,0.005434,1.447937
79,"(milk, frozen vegetables)",(mineral water),0.023597,0.238368,0.011065,0.468927,1.967236,0.005440,1.434136
40,(soup),(mineral water),0.050527,0.238368,0.023064,0.456464,1.914955,0.011020,1.401255

## **Association Rule Mining Eclat**

In [29]:
!pip install pyECLAT==1.0.2 --q

In [30]:
from pyECLAT import ECLAT

In [32]:
ec_df = pd.DataFrame(transactions)

In [33]:
# Create Eclat instance
eclat_instance = ECLAT(data=ec_df, verbose=True)

100%|██████████| 121/121 [00:00<00:00, 161.96it/s]
100%|██████████| 121/121 [00:00<00:00, 4569.16it/s]
100%|██████████| 121/121 [00:00<00:00, 3477.79it/s]

In [34]:
# Fit the Eclat Instance created


support_dict, frequent_itemsets = eclat_instance.fit(min_support=0.01, min_combination=1, max_combination=2)

Combination 1 by 1

75it [00:00, 117.95it/s]

Combination 2 by 2

2775it [00:13, 204.84it/s]

In [35]:
total_transactions = len(transactions)

frequent_itemsets_df = pd.DataFrame({
    'Itemset': list(frequent_itemsets.keys()),
    'Support': [len(support_dict[item]) / total_transactions for item in frequent_itemsets.keys()]
})

# Sort the DataFrame by 'Support' in descending order
frequent_itemsets_df_sorted = frequent_itemsets_df.sort_values(by='Support', ascending=False)

frequent_itemsets_df_sorted.head(100)

                             Itemset   Support
5                      mineral water  0.238368
73                              eggs  0.179709
74                         spaghetti  0.174110
7                       french fries  0.170911
14                         chocolate  0.163845
..                               ...       ...
175               shrimp & spaghetti  0.021197
59                         meatballs  0.020931
140             tomatoes & spaghetti  0.020931
64                           almonds  0.020397
85   mineral water & frozen smoothie  0.020264

[100 rows x 2 columns]

In [36]:
frequent_itemsets_df['products1'] = frequent_itemsets_df['Itemset'].apply(lambda x: x.split('&')[0])
frequent_itemsets_df['products2'] = frequent_itemsets_df['Itemset'].apply(lambda x: x.split('&')[1] if len(x.split('&'))>1 else '')

In [37]:
frequent_itemsets_df[frequent_itemsets_df['products2'] != ''] .sort_values(by='Support', ascending=False).head(10)

                         Itemset   Support       products1     products2
110    mineral water & spaghetti  0.059725  mineral water      spaghetti
86     mineral water & chocolate  0.052660  mineral water      chocolate
109         mineral water & eggs  0.050927  mineral water           eggs
68                 herb & pepper  0.049460           herb         pepper
103         mineral water & milk  0.047994  mineral water           milk
100  mineral water & ground beef  0.040928  mineral water    ground beef
221      ground beef & spaghetti  0.039195    ground beef      spaghetti
165        chocolate & spaghetti  0.039195      chocolate      spaghetti
239             eggs & spaghetti  0.036528           eggs      spaghetti
131          french fries & eggs  0.036395   french fries           eggs

In [38]:
frequent_itemsets_df.shape

(240, 4)